<h2>Seja bem-vindo!</h2>
<p>Acreditamos que você é capaz de conquistar todos seus objetivos</p>
<p>Tenha calma e mantenha foco em seus estudos</p>
<a
  class="link"
  [routerLink]="['teste', '1']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon>looks_one</mat-icon>
  Teste Simples
</a>
<a
  class="link"
  [routerLink]="['teste', '2']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon>looks_two</mat-icon>
  Teste Médio
</a>
<a
  class="link"
  [routerLink]="['teste', '3']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon>looks_3</mat-icon>
  Teste Avançado
</a>

<br>

<a
  class="link"
  [routerLink]="['placas']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon>directions</mat-icon>
  Placas
</a>
<a
  class="link"
  [routerLink]="['detran']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon>format_list_bulleted</mat-icon>
  Lista Detran
</a>
<a
  class="link"
  [routerLink]="['info']"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon>help_center</mat-icon>
  Informações
</a>
