:host {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  &::before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #ffe44a;
    background: linear-gradient(90deg, #ffe44a, #0bc04e);
    background: #222 url('../assets/background/via-bahia.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.7) blur(2px);
    z-index: -1;
  }
  @media (max-width: 765px) {
    background: #222;
    &::before { display: none; }
  }
  main {
    display: flex;
    background: #fff;
    padding: 2rem;
    z-index: 0;
    margin: 0 auto;
    max-width: 700px;
    width: calc(100% - 65px);
    border-radius: 0 0 20px 20px;
    @media (max-width: 765px) {
      border-radius: 0;
      min-height: calc(100vh - 128px - 66px - 4rem);
    }
    @media (max-width: 400px) {
      padding: 1rem;
      width: calc(100% - 32px);
    }
  }
}
