<div class="content">
  <h2>Informações</h2>
  <hr>
  <p>Esse projeto social tem o intuito de ajudar você a se preparar para uma prova com questões sobre leis de trânsito brasileira</p>
  <p>Idealizado para organizar um teste prático de questões gerando um resultado do gabarito após finalizar os testes</p>
  <p>Construído de uma forma simples para atingir todo cidadão brasileiro e ajudar em seu momento de preparo</p>
  <hr>
  <h2>Deseja ajudar esse projeto?</h2><br>
  <p>Entre entre em contato no e-mail <a href="mailto:lucasferreiralimax@gmail.com">lucasferreiralimax@gmail.com</a></p><br>
  <hr>
  <h2>Doações</h2><br>
  <p>Se você deseja realizar uma doação <a routerLink='/doe'>acesse o link de doações e doe</a></p>
  <hr>
  <h2>Outros projetos</h2><br>
  <p>Se você precisa atualizar seu currículo acesse <a href="https://criar-curriculo.web.app" target="_blank">criar-curriculo.web.app</a></p>
</div>
