
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$simulador-detran-primary: mat.define-palette(mat.$light-blue-palette);
$simulador-detran-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$simulador-detran-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$simulador-detran-theme: mat.define-light-theme((
  color: (
    primary: $simulador-detran-primary,
    accent: $simulador-detran-accent,
    warn: $simulador-detran-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($simulador-detran-theme);

::selection {
  background: #222;
  color: #ffe44a;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #0ec04e;
  text-decoration: none;
}

hr { opacity: .3; }

.brasil {
  background-size: cover;
  background: url(./assets/background/brasil-topo.jpg) no-repeat;
  width: 100%;
  @media (max-width: 400px) {
    background-position: left bottom;
  }
  h1, h2, h3, p, span, strong {
    background: #fff;
    color: #222;
    padding: 1rem 0;
  }
  h2 { padding-top: 0; }
}

.mat-radio-label-content {
  white-space: normal !important;
  word-spacing: normal !important;
}

.exam-radio-button label {
  margin: 0 -1rem;
  padding: 1rem;
  transition: .5s all;
  width: 100%;
  &:hover { background: #dcffdf; }
}

.w-full { width: 100%; }

.cdk-global-scrollblock {
  left: auto !important;
  top: auto !important;
  overflow-y: hidden !important;
}
