<div class="content">
  <div class="w-full">
    <h2>Pix</h2>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input (click)="copyValue(lucas);selectAll($event);" [attr.aria-label]="lucas" [value]="lucas" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input (click)="copyValue(art);selectAll($event);" [attr.aria-label]="art" [value]="art" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input (click)="copyValue(lembre);selectAll($event);" [attr.aria-label]="lembre" [value]="lembre" matInput>
    </mat-form-field>
  </div>
</div>
